.form-container{
    max-width: 500px !important;
    margin: 0px auto;
   
}
.message{
    background-color: #000000 !important;
    border:none;
    border-radius: 5px !important;
    
}
.welcome-img{
    background-image: url('../image/solar-system/Contact-us-2.png');
    background-position: bottom;
    background-size: cover;
}