*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav{
    background-color: #1B0635 !important;
    
}
.nav-item>a{
    color:#FFFFFF !important;
}
.nav-item>a:hover{
    color:#992d2d !important;
}



@media (min-width:768px) {
    
}


@media (min-width:1024px) {
    
}