/* body{
    min-height: 1000vh !important;
} */

.welcome-img{
    background-image: url('../image/solar-system/gradient-galaxy-background_23-2150810626.avif');
    background-position: center;
    background-size: cover;
}
.exo-title{
    border-left: 15px solid rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    border-top: 2px solid rgba(0, 0, 0, 1);
    display: inline;
    font-size: 22px;
}
.exo-image{
    object-fit: cover;
    object-position: center;
    border-radius: 15px !important;
    min-height: 300px;
}
.sub-title{
    text-decoration: underline;
    text-underline-offset: 6px;
    
}
.paragraph{
    text-align: justify;
}